<!DOCTYPE html>
<html>
  <head>
    <title>EdpsEvent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container main-pane">
      <%= render "shared/navigation" %> 
      <% flash.each do |k,v| %>
        <%= content_tag :div, class: "alert alert-#{k}", data: {'no-turbolink' => true} do %>
          <div class="icon-close"></div>
          <%= v %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
